
RPGConsoleTutorialSeries/obj/Debug/netcoreapp3.1/RPGConsoleTutorialSeries.pdb
RPGConsoleTutorialSeries/obj/Debug/netcoreapp3.1/RPGConsoleTutorialSeries.dll
RPGConsoleTutorialSeries/obj/Debug/netcoreapp3.1/RPGConsoleTutorialSeries.csprojAssemblyReference.cache
RPGConsoleTutorialSeries/obj/Debug/netcoreapp3.1/RPGConsoleTutorialSeries.pdb
RPGConsoleTutorialSeries/obj/Debug/netcoreapp3.1/RPGConsoleTutorialSeries.dll
RPGConsoleTutorialSeries/obj/Debug/netcoreapp3.1/RPGConsoleTutorialSeries.csprojAssemblyReference.cache
RPGConsoleTutorialSeries/obj/Debug/netcoreapp3.1/RPGConsoleTutorialSeries.csproj.CoreCompileInputs.cache
*.dll
RpgConsoleSeriesUnitTests/obj/Debug/netcoreapp3.1/RpgConsoleTutorialSeriesUnitTests.pdb
RpgConsoleSeriesUnitTests/obj/Debug/netcoreapp3.1/RpgConsoleTutorialSeriesUnitTests.dll
RpgConsoleSeriesUnitTests/obj/Debug/netcoreapp3.1/RpgConsoleTutorialSeriesUnitTests.csprojAssemblyReference.cache
RpgConsoleSeriesUnitTests/obj/Debug/netcoreapp3.1/RpgConsoleTutorialSeriesUnitTests.csproj.FileListAbsolute.txt
RpgConsoleSeriesUnitTests/obj/Debug/netcoreapp3.1/RpgConsoleTutorialSeriesUnitTests.csproj.CoreCompileInputs.cache
RpgConsoleSeriesUnitTests/bin/Debug/netcoreapp3.1/System.Windows.Extensions.dll
RpgConsoleSeriesUnitTests/bin/Debug/netcoreapp3.1/System.Drawing.Common.dll
RpgConsoleSeriesUnitTests/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
RpgConsoleSeriesUnitTests/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
RpgConsoleSeriesUnitTests/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
RpgConsoleSeriesUnitTests/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
RpgConsoleSeriesUnitTests/bin/Debug/netcoreapp3.1/RpgConsoleTutorialSeriesUnitTests.pdb
RpgConsoleSeriesUnitTests/bin/Debug/netcoreapp3.1/RpgConsoleTutorialSeriesUnitTests.dll
RpgConsoleSeriesUnitTests/bin/Debug/netcoreapp3.1/RpgConsoleTutorialSeriesUnitTests.deps.json
RpgConsoleSeriesUnitTests/bin/Debug/netcoreapp3.1/RPGConsoleTutorialSeries.pdb
RpgConsoleSeriesUnitTests/bin/Debug/netcoreapp3.1/RPGConsoleTutorialSeries.dll
RpgConsoleSeriesUnitTests/bin/Debug/netcoreapp3.1/Microsoft.Win32.SystemEvents.dll
.vs/RPGConsoleTutorialSeries/v16/TestStore/0/001.testlog
.vs/RPGConsoleTutorialSeries/v16/.suo
.vs/RPGConsoleTutorialSeries/DesignTimeBuild/.dtbcache.v2
